.html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;   
}

.body-pinkfish{
    padding:0;
    margin:0;
    font-family: Arial, sans-serif;
    background-color:#000000;
}

.nav-bar {
    font-family:Arial, sans-serif;
    display:flex;
    font-weight: bold;
    justify-content: space-around;
    background-color: black;
    color: white;
    align-items: center;
    width: auto;
    padding: 10px;
}

.button{
    color:white;
    text-decoration: none;/* Remove underline */
}

/*=========Pinkfish webpage===============*/
.background-container {
    display:flex;
    justify-content: center;
    width: 100%;  
    height: 700px;  
    background-image: url('../image/background\ image.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    text-align: center;
    color:white;
    margin:0;
    padding:0;
}

.content-top {
    padding-top:180px;
    display:flex;
    flex-direction:column;
    gap:15px;
    align-items: center;
}

.date{
    margin:0;
}

.title{
    margin:0;
}

.description{
    margin:0;
}

.memories{
    font-weight: bold;
    font-size: large;
    margin-left: 50px;
    color:white;
    margin:0;
}

.memory-image{
    display:flex;
    gap:18px;
    flex-wrap:wrap;
    justify-content: center;
}
.memory-image img{
    width:100%;
    max-width:350px; 
    height:auto;
    cursor:pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-container1{
    display:flex;
    gap:18px;
}

.image-container2{
    display:flex;
    gap:18px;
}

.memory-image img:hover{
    box-shadow: 0px 12px 25px rgba(255, 45, 185, 0.8); /*Glow effect on hover */
    transform: scale(1.05); /* Zoom effect on hover */
}

.brand{
    width:auto;
    height:300px;
    font-size:28px;
    font-weight:bold;
    background-color:rgb(255, 6, 135);
    padding-top:18px;
    margin-top: 50px;
}

.brand-title{
    text-align: center;
    color:white;
}

.brand-logos{
    display: flex;
    justify-content:center;
    gap:180px;
    flex-wrap: wrap;
    margin-top: 15px;
}

/*==============page until here===========*/
.line {
    border-bottom: 2px solid white;
    margin-top: 0px;
    width: auto;
    clear:both;/* Ensures it does not overlap floated elements */
}

.bottom-part{
    width:auto;
    background-color: black;
    background-size: cover;
    text-align: center;
    display:flex;
    flex-direction: column;
    color:white;    
}

.top-bar{
    display:flex;
    justify-content: space-between;

}

.bottom-bar{
    display: flex;
    justify-content:center;
    padding-bottom: 25px;
    flex-wrap: wrap;
}

.follow{
    font-family: Arial, sans-serif;
    margin-left: 18px;
    text-align: start;
}

.bottom-image{
    padding-right:40px;
    margin-top:20px;
}

.content{
    display:flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;
    text-align: end ;
    padding-top:20px;    
    gap:10px;
}

.Privacy{
    font-family: Arial, sans-serif;
    color: white;
    align-items: center;
    text-align: center;
    margin-bottom:20px;  
    text-decoration: none 
}
/*=================events page==============*/
.body-events{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background-color:rgb(255, 6, 135);
}

.cheers{
    font-family: "Bakbak One";
    font-size: 46px;
    color:white;
    width:auto !important;
    text-align: center;
}

.event-container {
    display:flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding:10px;
}

.event1 {
    flex:1;
    color:rgb(0, 0, 0);
    max-width: 100%; 
    height: auto;
    background-image: url('../image/2-3-scaled.jpg');
    background-size:cover ;
    border-radius: 50px; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px; 
}

.event2 {
    flex:1;
    color:rgb(0, 0, 0);
    max-width: 100%; 
    height:auto;
    background-image: url('../image/festival.jpeg');
    background-size:cover ;
    border-radius: 50px; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px; 
}

.shortform{
    font-family: "Bakbak One";
    font-size: 128px;
    color: rgb(255, 255, 255);
    text-align: start;
    margin-left:20px;
    margin-top:20px;
}

.event-name{
    font-family: "Bakbak One";
    font-size: 48px;
    color:white; 
    margin-top: 165px;
    text-align:start;
    margin-left: 20px;
}

.shortform2{
    font-family: "Bakbak One";
    font-size: 128px;
    color: rgb(255, 255, 255);
    text-align: start;
    margin-left:20px;
    margin-top:20px;
}

.event-name2{
    font-family: "Bakbak One";
    font-size: 48px;
    color:white;
    margin-top: 165px;
    text-align:start;
    margin-left: 20px; 
}
/*============news page============*/
.body-news{
    margin:0;
    padding:0;
    background-color:rgb(0, 0, 0);
}

.container h2{
    text-align: center;
    font-family:"Anek Malayalam";
    color:white;
    font-size: 64px;
    font-weight: 800;
    margin-bottom:0;
    padding:0;    
}

.container p{
    text-align: center;
    font-family:"Arial";
    color:white;
    font-size: 20px;
    font-weight: 400;
    margin-top:0;    
}

.gallery{
    display:flex;
    column-gap: 80px;
    margin-top:50px; 
    margin-bottom:50px;
}

.news1{
    display:flex;
    flex-direction:column;
    color:white;
    text-align: start;
    width:400px;
    height:650px;
    border: 1px solid white;
    margin-left:70px;
}

.news1 h3{
    text-align:start;
    font-size: 22px;
    font-weight: bold;
    width: 374px;
    height:69px;
    margin-left:20px;
}

.news1 p{
    font-family: "Arial";
    text-align:start;
    font-size: 16px;
    font-weight: 500;
    width:370px;
    height:70px;
    margin-left:20px;
}

.news2{
    display:flex;
    flex-direction:column;
    color:white;
    text-align: start;
    width:400px;
    height:650px;
    border: 1px solid white;
}

.news2 h3{
    text-align:start;
    font-size: 22px;
    font-weight: bold;
    width: 374px;
    height:144px;
    margin-left:20px;
    margin-bottom: 0;
}

.news2 p{
    font-family: "Arial";
    text-align:start;
    font-size: 16px;
    font-weight: 500;
    width:371px;
    height:150px;
    margin-top:0;
    margin-left:20px;
}

.news3{
    display:flex;
    flex-direction:column;
    color:white;
    text-align: start;
    width:400px;
    height:650px;
    border: 1px solid white;
}

.news3 h3{
    text-align:start;
    font-size: 22px;
    font-weight: bold;
    width: 380px;
    height:98px;

    margin-left:20px;
}

.news3 p{
    font-family: "Arial";
    text-align:start;
    font-size: 16px;
    font-weight: 500;
    width:370px;
    height:90px;
    margin-bottom:0;
    margin-left:20px;
}

.read-btn{
    display:flex;
    justify-content: center;
    color:white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    background-color:rgb(0, 0, 0);
    border:1px solid white;
    height:40px;
    font-size:16px;
    border-radius: 5px;
    width:100px;
    margin-left:20px;
    cursor:pointer; /* Pointer cursor on hover */   
}

/*==========what the fish page======*/
.body-whatthefish{
    padding:0;
    margin:0;
    background-color:rgb(0, 0, 0);
}

.fish-container{
    margin:0;
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 6, 135);
    padding-bottom:10px;
    padding-top:3px;
    width:auto;
    justify-content: center;
    height:auto;
    align-items: center;
}

.fish-container h2{
    text-align: center;
    font-family:"Arial";
    color:white;
    font-size: 40px;
    font-weight: 800;
    margin-bottom:15px;
    margin-right:50px;
    margin-left:80px;    
}

.fish-container p{  
    display:flex;
    justify-content:center; ; 
    text-align: center;
    font-family:"Arial";
    color:white;
    font-size: 20px;
    font-weight: 400;
    margin-top:0;
    width:665px;
       
}

.whole-container{
    display:flex;
    margin-top:100px;
    margin-left:200px;
    margin-right:200px;
    flex-direction:column;
    gap:50px;
    margin-bottom:100px;
}

.introduction1{
    text-align:center;
    align-items:center;
    width:auto;    
    margin-top:88.3px;
    margin-bottom:88.3px;
}

.PF-A-M{
    width:auto;
    height:auto;
}
.introduction1 img{
    margin-top:30px;
    margin-left:84px;
    margin-right:84px;
    margin-bottom:30px;
}

.introduction1 p{
    width:430px;
    height:231px;
    color:white;
    font-family: "Arial";
    font-size: 15px;
    margin-left:109px;
    margin-right:109px;
}

.introduction-container1{
    display:flex;
    height:auto;
    border:1px solid white;
}


.introduction2{
    text-align:center;
    align-items:center;
    width:648.2px;
    margin-top:74.8px;
    margin-bottom:74.8px;
}

.introduction2 img{
    margin-top:30px;
    margin-left:75.5px;
    margin-right:75.5px;
    margin-bottom:30px;   
}

.PF-CD{
    width:auto;
    height:auto;
}

.introduction2 p{
    width:430px;
    height:179px;
    text-align: center;
    color:white;
    font-family: "Arial";
    font-size: 15px;
    margin-left:109.2px;
    margin-right:109.2px;
}

.introduction-container2{
    display:flex;   
    height:auto;
    border:1px solid white;
}

/*=======contact us =====*/
.body-contact{
    padding:0;
    margin:0;
    background-color:rgb(255, 6, 135);
    width:auto;
}

.title-contact{
    text-align: center;
    margin-top: 40px;
}

.title-contact h2{
    font-family: "Bakbak One";
    font-size:46px;
    color:white;
    margin:0;
    padding:0;
}

.title-contact p{
    font-family: "Arial";
    font-size:18px;
    color:white;
    margin:0;
    padding:0;
}

.box{
    display:flex;
    background-color: rgb(233, 233, 233);
    width:auto;
    height:auto;
    margin-left: 206px;
    margin-right: 206px;
    margin-top: 50px;
    margin-bottom:20px;
}

.app{
    margin-top: 120px;
    justify-content: center;
    margin-left:60px;
    display:flex;
    flex-direction: column;
    row-gap: 30px;
}

.part1{
    display:flex;
    column-gap:45px;
}

.part2{
    margin-left:35px;
    display:flex;
    gap:45px;
}

.top-input{
    display:flex;
    gap:100px;
    margin-top: 20px;
    margin-left:50px;
    font-size:13px;
    padding: 10px;
    color:rgb(255, 6, 135);
}

.input-fn {
    color:rgb(255, 6, 135);
    border: none; /* Remove the default border */
    border-bottom: 2px solid rgb(255, 6, 135); /* Underline the input */
    font-size: 16px;
    width:330px;
    padding:0;
    background-color:rgb(233, 233, 233); 
    outline: none; /* Remove outline when clicked */
    box-sizing: border-box;  /* Ensures padding and border are included in the height */
}

.input-ln{
    color:rgb(255, 6, 135);
    border: none;
    border-bottom: 2px solid rgb(255, 6, 135);
    padding:0;
    background-color:rgb(233, 233, 233); 
    font-size: 16px;
    width:330px;
    outline: none; 
    box-sizing: border-box;
}

.input-em{
    color:rgb(255, 6, 135);
    border: none;
    border-bottom: 2px solid rgb(255, 6, 135);
    padding:0;
    background-color:rgb(233, 233, 233); 
    font-size: 16px;
    width:330px;
    outline: none; 
    box-sizing: border-box;
}

.input-pn{
    color:rgb(255, 6, 135);
    border: none;
    border-bottom: 2px solid rgb(255, 6, 135);
    padding:0;
    background-color:rgb(233, 233, 233); 
    font-size: 16px;
    width:330px;
    outline: none; 
    box-sizing: border-box;
}

.right-input{
    display:flex;
    flex-direction:column;
}

.left-input{
    display:flex;
    flex-direction:column;  
}

.bottom-input{
    margin-left:50px;
    font-size:13px;
    padding: 10px;
    color:rgb(255, 6, 135);  
}

.bottom-input p{
    margin-top:0;
}

/* Style the radio buttons */
.bottom-input input[Type="radio"]{
    width: 50px; /* Adjust size */
    height: 20px; /* Adjust size */
    accent-color: rgb(255, 6, 135); /* Change the color */    
}

.bottom-input label{
    display:flex;
    align-items: center;
    font-size: 13px;
}

#other{
    color:rgb(255, 6, 135);
    border: none;
    border-bottom: 2px solid rgb(255, 6, 135);
    padding:0;
    background-color:rgb(233, 233, 233); 
    font-size: 16px;
    width:750px;
    outline: none; 
    box-sizing: border-box;
}

.input-msg{
    color:rgb(255, 6, 135);
    border: none;
    border-bottom: 2px solid rgb(255, 6, 135);
    padding:0;
    background-color:rgb(233, 233, 233); 
    font-size: 16px;
    width:750px;
    outline: none; 
    box-sizing: border-box;
}

.submit-btn{
    color:white;
    background-color:rgb(255, 6, 135);
    border:none;
    height:40px;
    font-size:16px;
    border-radius: 8px;
    cursor:pointer; /* Pointer cursor on hover */
}

@media (max-width: 768px) {
    .nav-bar {
        justify-content:space-around;
        padding: 15px;
    }

    .background-container {
        height: 400px;
    }

    .content-top {
        padding-top: 120px;
    }

    .memory-image {
        flex-direction: column;
        align-items: center;
    }

    .brand-logos {
        gap: 100px;
    }

    .bottom-part {
        padding: 10px;
    }

    .top-bar {
        margin:0;
        padding:0;    
    }

    .bottom-bar {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .background-container {
        height: 300px;
    }
    .nav-bar {
        font-size: 12px;
    }
    .nav-bar img{
        width:50px;
        height:auto !important;
    }

    .content-top {
        text-align: center;
        padding-top: 80px;
        font-size:12px;
        width:300px;
    }

    .image-container1{
        display:flex;
        width:auto;
        flex-direction: column;
    }

    .image-container2{
        display:flex;
        flex-direction: column;
    }

    .brand {
        height: auto;
        padding: 25px;
    }

    .brand-logos img {
        width: 100px;
        height:auto;
    }

    .bottom-part {
        padding:0;
        margin:0;
        gap:30px;
    }
    .content{
        font-size:9px;
        width:150px;
        gap:0;
    }

    .bottom-image{
        margin-top:0;
        padding:0;
        width:60px;
    }

    .top-bar {
        align-items: center;
        gap: 15px;
    }

    .follow{
        font-size: 12px;
        margin-left:10px;
    }
    .follow img{
        width:20px;
        height:20px;
    }
    .bottom-bar {
        display:flex;
        justify-content: center;
    }
    .fish-container{
        width: 100%;
        height: auto;    
    }

    .fish-container p{
        font-size:10px;
        width:300px;
    }
    .fish-container h2{
        font-size: 20px;
    }

    .fish-container img{
        width: 35px;
        height: auto;
    }

    .whole-container{
        margin:20px 0 20px;
        padding:0 10px;
        width:auto;
    }

    .introduction1{
        width:auto;
        margin-bottom: 0;
    }

    .introduction1 img{
        width: 100px;
        height: auto;
    }
    .PF-A-M{
        width:400px;
        height:auto;
    }

    .introduction1 p{
        font-size:12px;
        width:400px;
    }

    .introduction-container1{
        height:auto;
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    .introduction2{
        width:auto;
        margin-bottom: 0;
    }

    .introduction2 img{
        width: 100px;
        height: auto;
    }
    .PF-CD{
        width: 400px;
        height:auto;
    }

    .introduction2 p{
        font-size:12px;
        width:400px;
    }

    .introduction-container2{
        display:flex;
        flex-direction: column;
        align-items:center;
    }

    .gallery{
        display:flex;
        flex-direction: column;
        margin-left:10px;
        gap:20px;
    }

    .news1{
        margin-left:0;
    }

    .container h2{
        font-size:30px;
        width:auto;
    }
    .container p{
        font-size:15px;
        width:auto;
    }

    .event-container{
        display:flex;
        flex-direction: column;
        
    }
    .cheers{
        font-size:23px;
        text-align: start;
    }

    .cheers p{
        margin-left:20px;
        width:293px;
    }
    .shortform{
        font-size:64px;
    }

    .event-name{
        font-size: 24px;
    }

    .shortform2{
        font-size: 64px;
    }

    .event-name2{
        font-size:24px;
    }
    .event1{
        height:20px;
    }
    .event2{
        height:20px;
    }

    .box{
        margin-left:30px;
        display: flex;
        flex-direction: column;
        margin-top:0;
        width:350px;
    }
    .app{
        margin-left:0;
        align-items: center;
    }
    .part2{
        margin-left: 0;
    }

    .top-input{
        margin-left:0;
        display:flex;
        flex-direction: column;
    }


    .bottom-input{
        margin-left:0;
        display:flex;
        flex-direction: column;
    }
    #other{
        width:330px;
    }
    .input-msg{
        width:330px;
    }

    .title-contact h2{
        margin-left:40px;
        font-size: 23px;
        text-align: start;
    }

    .title-contact p{
        margin-left:40px;
        font-size: 13px;
        text-align: start;
        width:300px;
        margin-bottom: 30px;
    }
}
